<!DOCTYPE html>
<html lang="en">

<head>
    <title>Checkout - TrendTrove</title>
    <%- include('../partials/static-head-elements.ejs') %>

</head>

<body>
    <%- include('../partials/header.ejs') %>
        <div class="site-wrap">
            <div class="bg-light py-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <a
                                href="/cart">Cart</a> <span class="mx-2 mb-0">/</span> <strong
                                class="text-black">Checkout</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="site-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mb-5 mb-md-0">
                            <h2 class="h3 mb-3 text-black">Billing Details</h2>
                            <div class="p-3 p-lg-5 border">
                                
                                <div class="form-group mb-3">
                                    <label class="small mb-1" for="country">Country</label>
                                    <select class="form-select form-control" id="country" name="country"
                                                                                          required>
                                        <% if (req.user.Address) { %>
                                        <option value="<%= req.user.Address.country %>">
                                        Current:
                                        <%= req.user.Address.country %>
                                        </option>
                                        <% } else { %>
                                        <option value="">Select a Country</option>
                                        <% } %>
                                        <option value="Nigeria">Nigeria</option>
                                        <option value="United States">United States</option>
                                        <option value="United Kingdom">United Kingdom</option>
                                    </select>
                                </div>
                           
                                <div class="form-group mb-3">
                                    <label class="small mb-1" for="name">Full name</label>
                                    <input class="form-control" id="name" type="text" name="name"
                                                                                      placeholder="Enter your full name" value="<%= req.user.name %>" required>
                                </div>

                                <div class="form-group row mb-3">
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="streetAddress">Street</label>
                                        <input class="form-control" id="streetAddress" type="text"
                                            placeholder="Enter your street address" name="street"
                                            value="<% if (req.user.Address) { %><%= req.user.Address.street %> <% } %>"
                                            required>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="state">State</label>
                                        <input class="form-control" id="state" type="text" name="state"
                                            placeholder="Enter your state"
                                            value="<% if (req.user.Address) { %><%= req.user.Address.state %> <% } %>"
                                            required>
                                    </div>
                                </div>

                                <div class="form-group row mb-5">
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="email">Email</label>
                                        <input class="form-control" id="email" type="email" name="email"
                                            placeholder="Enter your email" value="<%= req.user.email %>"
                                            title="Email cannot be changed. Contact the admin for support at emmanueltopea@gmail.com"
                                            disabled>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputPhone">Phone number</label>
                                        <input class="form-control" id="inputPhone" type="tel"
                                            placeholder="Enter your phone number" name="phoneNumber"
                                            value="<%= req.user.phoneNumber %>" required>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label for="c_order_notes" class="text-black">Order Notes</label>
                                    <textarea name="c_order_notes" id="c_order_notes" cols="30" rows="5"
                                        class="form-control" placeholder="Write your notes here..."></textarea>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="row mb-5">
                                <div class="col-md-12">
                                    <h2 class="h3 mb-3 text-black">Coupon Code</h2>
                                    <div class="p-3 p-lg-5 border">

                                        <label for="c_code" class="text-black mb-3">Enter your coupon code if you have
                                            one</label>
                                        <div class="input-group w-75">
                                            <input type="text" class="form-control" id="c_code"
                                                                                    placeholder="Coupon Code" aria-label="Coupon Code" <% if (coupon) { %> value="<%= coupon.code %>" <% } %>>
                                            <div class="input-group-append">
                                                <button class="btn btn-primary btn-sm" type="button"
                                                    id="button-addon2">Apply</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <div class="col-md-12">
                                    <h2 class="h3 mb-3 text-black">Your Order</h2>
                                    <div class="p-3 p-lg-5 border">
                                        <table class="table site-block-order-table mb-5">
                                            <thead>
                                                <th>Product</th>
                                                <th>Total</th>
                                            </thead>
                                            <tbody>
                                                <% for (const cartItem of cartItems) { %>
                                                <tr>
                                                    <td><%- cartItem.Product.name %> 
                                                        <strong class="mx-2">x</strong><%= cartItem.quantity %></td>
                                                    <td>$<%= cartItem.totalPrice %></td>
                                                </tr>
                                                <% } %>
                                            </tbody>
                                        </table>

                                        <form action='/cart/checkout' method='POST'>
                                            <div class="form-group">
                                                <button type='submit'
                                                   class="btn btn-primary btn-lg py-3 btn-block">Place
                                                   Order</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- </form> -->
                </div>
            </div>
            <%- include('../partials/footer.ejs') %>
        </div>
        <%- include("../partials/scripts.ejs") %>


</body>

</html>
